image: Visual Studio 2019

before_build:
 - nuget restore
build_script:
  - dotnet restore
  - dotnet build FoodTracker.WebApi.sln

  - cd ./Services/Identity/IdentityServer.API.Test
  - nuget install Appveyor.TestLogger -Version 2.0.0
  - dotnet test -c Release --test-adapter-path:. --logger:Appveyor

  - cd ./Services/Identity/IdentityServer.API.IntegrationTest
  - nuget install Appveyor.TestLogger -Version 2.0.0
  - dotnet test -c Release --test-adapter-path:. --logger:Appveyor